html {
  font-family: "lato", sans-serif;
}

body {
  height:500px;
}

header{
  padding: 5%;
  background-color:#3a62b8;
  border-top-right-radius: 10px;
}

#title {
  color:white;
  margin-bottom: 50px;
}

section {
  height:500px;
}

td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type, td:first-of-type>div {
  height:200px;
  width:250px;
}

svg {
  height: 150px
}

footer{
  padding:2% 5%;
  background-color:#3a62b8;
  color:white;
  border-bottom-left-radius: 10px;
}

